body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  font-family: "ZCOOL XiaoWei", serif;
}
.intro {
  background-image: url(/images/2_intro_BG.jpg);
}
.parallax {
  background-attachment: fixed;
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.parallax-overlay {
  position: relative;
  background: #ffffff67;
  width: 100%;
  padding: 6rem 0;
}
.logo {
  padding: 0 8rem;
}
.bd {
  height: 60%;
  padding: 5rem 2rem 0 2rem;
  -webkit-transition: padding 0.5s;
  transition: padding 0.5s;
  transition-timing-function: ease;
}
.bd:hover {
  padding: 1rem 0;
}
#services {
  color: #fff;
}
.py-5 {
  padding: 6rem 0 !important;
}
.mt-3 {
  margin-top: 0 !important;
}
.img-thumbnail {
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: 0;
  width: 100%;
}
.img-thumbnail:hover {
  box-shadow: 0 0 10px 3px #fff;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.btn-outline-primary {
  color: #baadfa;
  border-color: #ce489a;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #ce489a;
  border-color: #50419a;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  box-shadow: #ce489a 0 0 0 0.2rem;
  border-color: #50419a;
  outline: 0;
}
@media only screen and (max-width: 768px) {
  .bd {
    padding: 2rem 5rem 2rem 0;
    height: 50%;
  }
  h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .logo {
    padding: 0 2rem;
  }
  .px-5 {
    padding: 0 1.2rem !important;
  }
  .mt-3 {
    margin-top: 3rem !important;
  }
}
@media only screen and (max-width: 425px) {
  .bd {
    padding: 2rem 0 2rem 8rem;
  }
}
@media only screen and (max-width: 375px) {
  .bd {
    padding: 2rem 0 2rem 6rem;
  }
}
@media only screen and (max-width: 320px) {
  .bd {
    padding: 2rem 0 2rem 4rem;
  }
}
#footer {
  background-color: #2e2e2e;
  padding: 3rem 0;
  color: #fff;
}
#footer a {
  color: #baadfa;
  line-height: 2rem;
  font-size: 1rem;
  text-decoration: underline;
}
